*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
/* Estilos generales del header */
header {
    background-color: #fff;
    padding: 10px 0; /* espaciado alrededor del header */
}
/* Estilos generales del body */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Estilos para el contenedor de navegación */
#button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Fondo de la barra de navegación */
    margin: 0 20px; /* Márgenes izquierdo y derecho de 20px */
    padding: 5px 0; /* relleno en la parte superior e inferior */
}

/* Estilos para los elementos de navegación */
#button li {
    list-style-type: none;
    display: inline;
    margin-right: 10px; /* margen derecho entre los elementos */
}

#button li.rr a {
    color: #f48c53;
}

#button li a {
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
    color: #000000;
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s; /*transición suave al color de fondo */
}

#button li a:hover {
    background-color: #f48c53;
    padding-bottom: 12px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    #button {
        flex-direction: column;
    }

    #button li {
        display: block; 
        text-align: center;
        padding: 10px 0;
    }
}

/* Estilos para el formulario de búsqueda */
#button form {
    display: flex;
    align-items: center;
}

#button input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
}

#button button {
    background-color: #fff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

h1{
    margin-top: 35px;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    color: #000000;
}
/* css para los elementos de los selectores de fecha y hora*/
.datetime-container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.datetime-label {
    font-size: 16px;
    margin-left: 50px;
    margin-right: 10px;
}

.datetime-picker {
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    margin-right: 100px;
    margin-left: 10px;
}

.datetime-container h4 {
    text-align: left;
    width: 100%; 
    margin-bottom: 20px;
    margin-left: 280px;
}

form {
    margin-left: 390px;
    margin-top: 30px;
}

label {
    display: inline-block; /* Colocar cada etiqueta en una línea nueva */
    font-weight: bold; 
    margin-bottom: 5px;
}
select, textarea, input[type="text"] {
    width: 100%; /* Ancho completo para elementos de entrada */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
textarea {
    resize: vertical; /* Permitir la redimensión vertical del cuadro de texto */
}

/* Estilo para el botón naranja */
.orange-button {
    background-color: #f47434; /* Color naranja */
    color: #fff; /* Texto en blanco */
    border: none;
    padding: 10px 20px;
    margin: 0px 0px 0px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 400ms;
}

.orange-button:hover {
    background-color: #f48c53; /* Cambiar el color al pasar el cursor */
}

/* Estilo para el sistema de rejilla (Grid) */
.grid-container {
    margin-left: 350px;
    margin-right: 350px;
    display: grid;
    grid-template-columns: auto auto; /* Dos columnas con tamaños iguales */
    grid-gap: 40px; /* Espacio entre elementos */
}

.grid-item {
    margin: 0;
    padding: 0;
}

/* Estilo para el último elemento que ocupa toda la fila */
.full-width {
    grid-column: 1 / -1; /* Ocupa todas las columnas disponibles */
}


.main-container {
    min-height: 600px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

footer {
    margin-top: 40px;
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 20px;
    font-size: 12px;
}
/** Estilos donde se presentan las citas pendientes **/
.cita-main-wrapper{
    background-color: #da5715;

    padding: 5px;
    border-radius: 10px;
    color: rgb(244, 244, 244);

}

#citasPendientes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}
table{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
th, td{
    padding: 10px;
    max-width: 180px;
    text-align: left;

}
td{
    color: black;

}

thead >tr {
    color: rgb(240, 240, 240);
    background-color: #f47434;
    transition: all ease 200ms;

}
thead >tr:hover {
    background-color: #da5715;
    transition: all ease 200ms;

}
tr>td:last-child{
    text-align: center;
}
tr{
    background-color: #ffefdd;
    transition: all ease 200ms;
}
tr:hover{
    background-color: #ffddb7;
}

.cita-check{
    cursor: pointer;
    height: 20px;
    padding: 2px;
}
input[type=checkbox] {
    transform: scale(1.6);
  }

.buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.buttons-main-wrapper {
    width: 100%;
}


.button-cita {
    border: 2px solid rgb(255, 126, 14);
    color: rgb(255, 110, 14);
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    transition: all ease 500ms;

}

.button-cita:hover {
    background-color: rgb(251, 216, 216);
}

/* Barra naranja */

#bar-orange {
    top: 1254px;
    left: -1px;
    width: 100%;
    height: 80px;
    margin: 30px 0px;
    -ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
    -o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
    -moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
    box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
    background:rgba(228.64,169.48,100.03,1);
}

.citas{
    cursor: pointer;
    text-decoration: none;
    
}

.is-invalid{
    position: relative;
    border: 3px solid rgb(255, 141, 141) ;
    box-sizing: border-box;
}


.is-invalid:focus{
    outline: none;
}